html {
	-webkit-font-smoothing: antialiased;
}


html,body{
	color:#333;
	letter-spacing: 0.03em;
	font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-family: myriad-pro, arial, sans-serif;
	line-height:150%;
	font-weight:300;
	font-size:18px;
	margin:0;
	padding:0;
	background-color:#f0f0f0;
}





.contentfooter{
	position: relative;
	padding: 17px 19px;
	text-align: left;
	border-radius: 0 0 0px 0px;
	font-size: 25px;
	color: #333;
}


@media screen and (min-width:1600px){
.main-container{
	padding:0;
	background-color:#f5f5f5;
	width:1600px;
	margin:auto;
	box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, .4);
}
}
@media screen and (max-width:1600px) and (min-width:600px){
.main-container{
	padding:0;
	overflow:hidden:
	background-color:#f5f5f5;
	width:95%;
	margin:auto;
	box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, .4);
}
}
@media screen and (max-width:600px){
.main-container{
	padding:0;
	overflow:hidden:
	background-color:#f5f5f5;
	width:100%;
	margin:auto;
	box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, .4);
}
}
.subheading{
	font-size: 30px;

	font-weight: 200;

	margin: 50px 0 20px 5%;
	
}